body{
  background-color: #D65E19;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%
}

.exp-header{
  text-align: center;
  text-transform:uppercase;
  border-top: 1px solid;
  border-bottom: 1px solid;
  
}
